@import '@root/index.css';

.dropdown{
    position: absolute;
    top:58px;
    width: 300px;
    transform: translateX(-45%);
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--container-color);
    padding: 1rem;
    overflow: hidden;
}

.menu-primary {
    width: 500px;
    background-color: aqua;
    color: red;

}

.icon-right{
    margin-left: auto;
}

.menu-primary-enter {
    transform: translateX(100%);
    opacity: 0;
}
.menu-primary-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
}
.menu-primary-enter-done {
    width: 100%;
}

.menu-primary-exit {
    transform: translateX(0);
    opacity: 1;
}
.menu-primary-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}


.menu-secondary.enter {
    transform: translateX(100%);
    opacity: 0;
}
.menu-secondary.enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
}
.menu-secondary.enter-done {
    width: 100%;
}

.menu-secondary.exit {
    transform: translateX(0);
    opacity: 1;
}
.menu-secondary.exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}