@import '@root/index.css';

.menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    padding: 0.5rem;
}

.menu-item:hover{
    background-color: var(--hover-color);
}

.icon-right{
    margin-left: auto;
    margin-right: 0.5rem;
}

