@import '@root/index.css';

/* .dropdown{
    width: 350px;
    transform: translateX(-45%);
    border-radius: 10px;
    background-color: var(--container-color);
    padding: 1rem;
    overflow: hidden;
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.3);

}  */

.info-section{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px 4px;
    cursor: pointer;
    border-radius: 10px;
}
.info-section:hover{
    background-color: var(--hover-color);
}


.round-avatar-div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    margin-right: 1rem;
}
.round-avatar-div-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.info-section-username-span{
    font-size: 18px;
    color: var(--text-color);
}



.menu-primary {
    width: 500px;
    background-color: aqua;
    color: red;

}
.icon-right{
    margin-left: auto;
}

.menu-primary.enter {
    transform: translateX(100%);
    opacity: 0;
}
.menu-primary.enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
}
.menu-primary.enter-done {
    width: 100%;
}

.menu-primary.exit {
    transform: translateX(0);
    opacity: 1;
}
.menu-primary.exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}


.menu-secondary.enter {
    transform: translateX(100%);
    opacity: 0;
}
.menu-secondary.enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
}
.menu-secondary.enter-done {
    width: 100%;
}

.menu-secondary.exit {
    transform: translateX(0);
    opacity: 1;
}
.menu-secondary.exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}