
.Profile-item{
    display: flex;
}
/* main-profile */
.MainProfile-container{
    flex: 6;
    display: flex;
    justify-content: center;
}
.avatarbarcontainer{
    width: 90%;
}
.MainProfile-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutContainer{
    position: relative;
    margin: 0;
    top: -80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    background-color: var(--background-home-dark);
    border-radius: 10px;
    color: white;
    padding: 2%;
}

.row {
    flex: 1; /* Distribute the available space equally among the rows */
    height: 48px;
    text-align:left;
    line-height: 48px; /* Adjust the line height for vertical centering */
  }
  .Info{
    font-size: 15px;
    display: block;
  }
  .SmallInfo{
    display: block;
    font-size: 13px;
    margin-top: -20px;
  }

  .rowcontain{
    padding: 6px;
    display: grid;
      grid-template-columns: repeat(2, 30px [col-start] 50% [col-end]); /* Tạo hai cột bằng nhau */
      grid-column-gap: 12px; /* Đặt khoảng cách giữa các cột thành 20px */
  }

  /* File App.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .friendtabcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1%;
    background-color: var(--background-home-dark);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  }
  .seperate{
    padding-top: 16px;
    background-color: var(--background-home-dark);
  }
  
  .friend {
    display: flex;
    flex-wrap: wrap;
    flex: 1; 
    min-width: 48%; 
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    background-color: var(--background-home-dark);
    border: white;
    border-width: 1,5%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .info-friend {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px 16px 16px 16px;
  }
  .img-friend{
    margin-right: 16px;
    width: 80px;
    height: 80px;
    object-fit: cover; 
    border-radius: 3%
  }
  .name-friend {
    font-weight: bolder;
    font-size: 20px;
    color: white;
    margin-left: 16px;
  }
  .friend:hover{    
    background-color: #4e4f50;
    cursor: pointer;
}

