@import "@root/index.css"; 

.nav-item{
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.test-div{
    width: 300px;
    height: 400px;
    background-color: aqua;
}

.icon-button{
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--container-color);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover{
    filter: brightness(0.8);
}


