

.my-element {
    background-color: var(--main-color);
    color: white;
}
/* div{
    background: var(--hello-color);
}
   */

.homepage{
    background-color: #18191A;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-item{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.homecontainer{
    width: 100vw;
    height: auto;
}
.rightmenu{
    width: 25%;
    overflow-x: hidden;
}

@media screen and (min-width: 1080px) {
    .homecontainer{
        display: flex;
        justify-content: center;
        height: auto;
    }
    .container-item{
        width: 80vw;
        justify-content: center;
    }
  }
