

.my-element {
    background-color: var(--main-color);
    color: white;
}
/* div{
    background: var(--hello-color);
}
   */

.homepage{
    background-color: #18191A;
    height: (100vh - 56px);
    margin: 0 10px;
}

.container-item{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0 10px;
}

.homecontainer{
    width: 100%;
    height: auto;
}
.rightmenu{
    width: 25%;
    overflow-x: hidden;
}
.chat-mini-window {
    background-color: var(--header-color);
    width: 338px;
    height: 455px;
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px;
}

/* @media screen and (max-width: 1080px) {
    .homecontainer{
        display: flex;
        justify-content: center;
        height: auto;
    }
    .container-item{
        width: 80vw;
        justify-content: center;
    }
  } */
