@import '@root/index.css';

.search-box-div{
    /* background-color: bisque; */
    height: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textbox-container{
    background-color: var(--container-color);
    border-radius: 30px;
    width: 240px;
    height: 80%;
    padding: 0 10px 0px 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.input{
    border: none;
    outline: none;
    background: transparent;
    width: 90%;
    margin: 0;
    color: var(--text-color);
}
.icon{
    margin: 0;
    padding: 0 0 0 5px;
    width: 10%;
    height: 40%;
    color: var(--sub-text-color);
    /* background-color: white; */
}