/* .wrapper-div{
    background-color: ;
} */

.message-page-wrapper-div{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
}
.first-column-wrapper{
    width: 25%;
}



.chat-window{
    width: 75%;
}
.chat-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-title-group{
    display: flex;
    padding-left: 10px;
}
.chat-conversation-title{
    display: flex;
    justify-content: center;
    align-self: center;
}
.chat-conversation-title h5,
.chat-notification-status
{
    margin: 0;
    color: var(--text-color);
}

.chat-window{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-box{
    width: 100%;
    padding: 10px 10px;
    flex-grow: 1;
    /* max-height: 90%; */
    margin-bottom: 10px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.message-item{
    color: white;
    width: 100%;
}

.rce-mbox {
    background: var(--header-color) !important; 
  }