:root{
  --main-color: #ff0000;
  --hello-color: blue;
  --side-color: green;
}

[data-theme="dark"]{
  --main-color: pink;
  --hello-color: aqua;
  --side-color: rgb(74, 185, 74);
}
[data-theme="autumn"]{
  --main-color: rgb(44, 0, 7);
  --hello-color: rgb(74, 185, 74);
  --side-color: rgb(74, 185, 74);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
