.edit-profile-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1877f2; /* Facebook blue color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .edit-profile-button:hover {
    background-color: #1267e7;
    cursor: pointer;
  }
  
.modal{
    backdrop-filter: blur(1px); 
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header{
    background-color: #3A3B3C;

}
.modal-title{
    color: white;
    font-weight: bolder;
}
.modal-body{
    background-color: #3A3B3C;
}
.modal-footer{
    background-color: #3A3B3C;

}
.profile-picture{
        width: 168px;
        height: 168px;
        border-radius: 50%;
}
.cover-picture{
    width: 500px;
    height: fit-content;
    border-radius: 5%;
}
.row1{
    margin-top: 15px;
}
.row2{
    margin-top: 15px;
    justify-items: center;
    text-align: center;
}
.img-uploader{
    float:right;
}
.img-upload-button {
    background-color: transparent; /* or use 'none' */
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
  }
