

.nav-pills {
    margin-top: -75px;
    width: 800px;
    text-align: center;
    background-color: var(--background-home-dark);
    border-radius: 10px 10px 10px 10px;
}

.nav-link {
    text-align: center;
    padding: 0 16px;
    background-color: var(--background-home-dark);
    border-radius: 10px 10px 10px 10px;
}

.nav-item {
    padding: 0 16px;
    width: calc(var(--nav-size) * 1);
    display: flex;
    text-align: center;
    background-color: var(--background-home-dark);
    border-radius: 10px 10px 10px 10px;
    justify:center;
}
.tab-content{
    
}
.tab-pane{
    margin-top: 25px;
}